<h1>Bem vindo à Lista de Contatos</h1>

<ul>
    <li>
        <%= link_to 'Contatos', contacts_path %>
    </li>
    <li>
        <%= link_to 'Tipos de Contatos', kinds_path %>
    </li>
    <li>
        <%= link_to 'Endereços', addresses_path %>
    </li>
</ul>